/**
 * Copyright (c) 2021-2022 Aiden Baker
 *
 * This software is released under the MIT License.
 * https://opensource.org/licenses/MIT
 */


.background {
    background-image: url("../images/backgroundAbout.webp");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.photo{
    overflow: hidden;
    position: absolute;
    height: 50% !important;
    width:50% !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}