/**
 * Copyright (c) 2021-2022 Aiden Baker
 *
 * This software is released under the MIT License.
 * https://opensource.org/licenses/MIT
 */

body{
    margin:0;
    overflow:hidden;
}

.topNav{
    position: fixed;
    top:0;
    background-color:#141414;
    opacity: .5;
    width: 100%;
    height: 5%;
}

.topNav a{
    float:left;
    color:white;
    text-align:center;
    padding: 9px 16px;
    text-decoration:none;
    font-size:25px;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
}

.copyright{
    position:absolute;
    left:50%;
    bottom:-20px;
    transform:translate(-50%, -50%);
    margin: 0 auto;
    color:rgb(247, 247, 255);
    font-family: Roboto, sans-serif;
    font-size: 10px;
}

.source{
    position:absolute;
    left:50%;
    bottom:10px;
    transform:translate(-50%, -50%);
    margin: 0 auto;
    color:rgb(247, 247, 255);
    font-family: Roboto, sans-serif;
    font-size:15px;
}

.center{
    position:absolute;
    margin:auto;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

a:link{
    color:rgb(247, 247, 255);
}
a:visited{
    color:rgb(247, 247, 255);
}