/**
 * Copyright (c) 2021-2022 Aiden Baker
 *
 * This software is released under the MIT License.
 * https://opensource.org/licenses/MIT
 */

body {
    background-color: #1f1d20;
}

.background {
    filter: blur(4px);
    background-image: url("../images/backgroundProjects.webp");
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.gridContainer{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
}

.gridItem{
    border-radius: 25px;
    width: 12vw;
    height: 20vh;
    text-align: center;
    color: rgb(247, 247, 255);
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        );
    white-space: normal;
    text-decoration:none;
    display: flex;
    flex-direction: column;
}

.title{
    margin-top:10px;
    font-size: 3vh;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-align: center;
}

.description{
    width: 95%;
    margin:2.5%;
    height: 20vh;
    font-size: 1.8vh;
    font-family: Roboto, sans-serif;
    text-align: center;
    flex-wrap: wrap;
}