/**
 * Copyright (c) 2021-2022 Aiden Baker
 *
 * This software is released under the MIT License.
 * https://opensource.org/licenses/MIT
 */
.guess { /*define the green circles*/
    height: 25px;
    width: 25px;
    background-color: lime;
    border-radius: 50%;
    display: inline-block;
}